<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sporto klubas</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  me-auto">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/'?'active':'' }"  href="/">Pagrindinis puslapis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/client/'?'active':'' }" href="/client/">Klientai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/workout/'?'active':'' }" href="/workout/">Užsiėmimai</a>
        </li>
        
      </ul>
      
      <div class="d-flex me-3 text-light" sec:authorize="isAuthenticated()" >
      	Sveiki: <span class="px-2" sec:authentication="name"></span>
      </div>
      <div class="d-flex me-3" sec:authorize="isAuthenticated()">
      	<a href="/logout" class="btn btn-outline-warning my-2 my-sm-0">Atsijungti</a>
      </div>
       <div class="d-flex me-3" sec:authorize="!isAuthenticated()">
      	<a href="/login" class="btn btn-outline-info my-2 my-sm-0">Prisijungti</a>
      </div>
      
    </div>
    
  </div>
</nav>


</html>